/* index.css */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, purple, gold);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

h2 {
  color: #333333;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff4d4d;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}

.links-container a {
  color: #007bff;
  text-decoration: none;
}

.links-container a:hover {
  text-decoration: underline;
}

h5 {
  color: #333333;
  margin-top: 20px;
  font-size: 14px;
}
